{% extends 'base.html' %}

{% block title %}Информация{% endblock %}

{% block navigation %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('about') }}">Информация</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div id="about">
    <h2>Справочная информация</h2>
    <div id="text">
        <p>Веб-приложение <b>ExchangeRates</b> написано вo фреймворке Flask. Приложение позволяет получать данные по
            курсу валют за указанный интервал времени и сохранять их в базу данных. Данные берутся с сайта <a
                href="https://www.cbr.ru/development/DWS/" target="_blank">ЦБ России</a>. Приложение отображает на <a
                href="{{ url_for('index') }}">Главной странице</a> сохраненные данные в виде таблицы.</p>
        <p>Пользователь может выбрать валюту (возможен множественный выбор) и период времени, за который нужно вывести
            курс валют. Значения в таблице можно отсортировать в порядке возрастания:
        <ul style="list-style-position: inside;">
            <li>по названию валют</li>
            <li>по курсу</li>
            <li>по дате</li>
        </ul>
        Чтобы выполнить соответсвующую сортировку, нужно кликнуть по заголовку соответсвующего столбца таблицы.
        </p>
    </div>
</div>
{% endblock %}